@{
    ViewData["Title"] = "CoMaMarkt";
}

<div class="text-center">
    <h1 class="display-4">Welkom in de CoMaMarkt!</h1>
</div>

<div class="row">
    <div class="margin col-md-4">
        <div class="card" style=" margin:10px">
            <div class="card-body">

                <img class="card-img-top" src="~/Images/image-not-found.jpg" alt="Product" />
                <p class="prijs">Prijs: </p>
                <h5 class="card-title">Product titel 1</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus .</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>

            </div>
        </div>
    </div>
    <div class="margin col-md-4">
        <div class="card" style=" margin:10px">
            <div class="card-body">
                <img class="card-img-top" src="~/Images/image-not-found.jpg" alt="Product" />
                <p class="prijs">Prijs: </p>
                <h5 class="card-title">Product titel 2</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus .</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="margin col-md-4">
        <div class="card" style=" margin:10px">
            <div class="card-body">
                <img class="card-img-top" src="~/Images/image-not-found.jpg" alt="Product" />
                <p class="prijs">Prijs: </p>
                <h5 class="card-title">Product titel 3</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus .</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="margin col-md-4">
        <div class="card" style=" margin:10px">
            <div class="card-body">

                <img class="card-img-top" src="~/Images/image-not-found.jpg" alt="Product" />
                <p class="prijs">Prijs: </p>
                <h5 class="card-title">Product titel 1</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus .</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>

            </div>
        </div>
    </div>
    <div class="margin col-md-4">
        <div class="card" style=" margin:10px">
            <div class="card-body">
                <img class="card-img-top" src="~/Images/image-not-found.jpg" alt="Product" />
                <p class="prijs">Prijs: </p>
                <h5 class="card-title">Product titel 2</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus .</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="margin col-md-4">
        <div class="card" style=" margin:10px">
            <div class="card-body">
                <img class="card-img-top" src="~/Images/image-not-found.jpg" alt="Product" />
                <p class="prijs">Prijs: </p>
                <h5 class="card-title">Product titel 3</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus .</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
        <div class="card mb-3" style="margin:100px">
            <img class="card-img-top" src="~/Images/image-not-found.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>

