@model IEnumerable<CoMaMarkt.Models.Nieuws>

@{
    ViewData["Title"] = "CoMaMarkt";
    var nieuw = ViewData["Nieuws"];
    
}

<div class="text-center">
    <h3 class="display-4">Welkom!</h3>
</div>
<br />
<div class="row">
    <div class="margin col-md-4">
        <div class="card" style=" margin:10px">
            <div class="card-body">

                <img class="card-img-top" src="~/Images/image-not-found.jpg" alt="Product" />
                <p class="prijs">Prijs: </p>
                <h5 class="card-title">Product</h5>
                <p class="card-text">Erg lekker</p>
                <a href="#" class="btn btn-primary">Bekijk Product</a>

            </div>
        </div>
    </div>
    <div class="margin col-md-4">
        <div class="card" style=" margin:10px">
            <div class="card-body">
                <img class="card-img-top" src="~/Images/image-not-found.jpg" alt="Product" />
                <p class="prijs">Prijs: </p>
                <h5 class="card-title">Product</h5>
                <p class="card-text">Erg lekker</p>
                <a href="#" class="btn btn-primary">Bekijk Product</a>
            </div>
        </div>
    </div>
    <div class="margin col-md-4">
        <div class="card" style=" margin:10px">
            <div class="card-body">
                <img class="card-img-top" src="~/Images/image-not-found.jpg" alt="Product" />
                <p class="prijs">Prijs: </p>
                <h5 class="card-title">Product</h5>
                <p class="card-text">Erg lekker</p>
                <a href="#" class="btn btn-primary">Bekijk Product</a>
            </div>
        </div>
    </div>
</div>



