@model CategorieEditViewModel

@{
    ViewData["Title"] = "Edit";
    var BannerURL = (Model.BestaandeBannerURL ?? "image-not-found.jpg");
    var ImageURL = (Model.BestaandeImageURL ?? "image-not-found.jpg");
}

<h1>Edit</h1>

<h4>Categorie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="FormEdit" method="POST">
            <input hidden asp-for="Id" />
            <input hidden asp-for="BestaandeBannerURL" />
            <input hidden asp-for="BestaandeImageURL" />
            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadBannerURL" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="UploadBannerURL" class="form-control custom-file-input" />
                    <label class="custom-file-label">Kies een foto</label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="UploadImage" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="UploadImage" class="form-control custom-file-input" />
                    <label class="custom-file-label">Kies een foto</label>
                </div>
            </div>
            <div class="form-group">
                <img class="imageTumbnail" src="~/Images/@BannerURL" />
            </div>
            <div class="form-group">
                <img class="imageTumbnail" src="~/Images/@ImageURL" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
    </script>
}