<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoMamarkt</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header background-color="lightblue">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CoMamarkt</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Producten</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Nieuws" asp-action="Index">Nieuws</a>
                        </li>
                        <li>
                            <a class="btn btn-info" asp-area="" asp-controller="Products" asp-action="cart">
                                <span class="glyphicon glyphicon-shopping-cart"></span> Winkelwagen
                            </a>
                        </li>
                        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="CMS" asp-controller="CMS" asp-action="Index">CMS</a>
                            </li>
                        }

                    </ul>
                </div>

            </div>
        </nav>
        <div class="searchbar">
            <div class="container">
                <form asp-controller="Products" asp-action="Index" method="get">
                    <p>
                        <input type="text" name="searchString" placeholder="Zoek">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Zoek</button>
                    </p>
                </form>
            </div>
        </div>
    </header>


        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>

        </div>


        <footer class="border-top footer text-muted">
            <div class="container">
              <a>2020 - CoMamarkt - Gemaakt door Brayn Geijs, Sem Ruiter en Thijs Grooten.</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
</body>
</html>
