@model CoMamarkt.Models.Checkout

@{
    ViewData["Title"] = "Checkout";
}


<h4>Bestellen</h4>

<table class="table">
    <thead>
        <tr>

            <th>
                Naam
            </th>
            <th>
                Aantal
            </th>
            <th>
                Prijs
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.WagenItems)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Naam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    € @Html.DisplayFor(modelItem => item.Totaal)
                </td>

            </tr>
        }
    </tbody>
</table>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Checkout">
            <div class="form-group">
                <input type="submit" value="Bestel" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Terug naar winkelwagen</a>
</div>