@model IEnumerable<CoMaMarkt.Models.Categorie>

@{
    ViewData["Title"] = "Index";
}

<h1>Categorieën</h1>


<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            var ImageURL = (item.Image ?? "image-not-found.jpg");

            <div class="col-sm-3">
                <div class="card" style=" margin:10px">
                    <img class="card-img-top" src="~/Images/@ImageURL" alt="Card image" />
                    <div class="card-body" style="height:100px;">
                        <a asp-action="Subcategorieën" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Naam)</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


