@model IEnumerable<CoMaMarkt.Models.Subcategorie>

@{
    ViewData["Title"] = "Subcategorieën";
}

<h1>Subcategorieën</h1>

<h4>Product</h4>
<hr />
<div class="container">

    @foreach (var subcategorie in Model)
    {
        <div class="row">
            <div class="col-sm-3">
                <div class="card" style=" height: 300px; margin:10px;">
                    <div class="card-body" style="height:100px;">
                        @Html.DisplayFor(modelItem => subcategorie.Naam)
                    </div>
                </div>
            </div>
            @foreach (var product in subcategorie.Products)
            {
                <div class="col-sm-3">
                    <div class="card" style=" height: 300px; margin:10px;">
                        <img class="card-img-top" src="@product.Image" alt="Card image" />
                        <div class="card-body" style="height:100px;">
                            @Html.DisplayFor(modelItem => product.Naam)
                        </div>
                    </div>
                </div>
            }
        </div>
    }

</div>