@model IEnumerable<CoMaMarkt.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a> | <a asp-action="LoadXml">Laad XML</a>
</p>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-3">
                <div class="card" style=" margin:10px">
                    <img class="card-img-top" src="@item.Image" alt="Card image" />
                    <div class="card-body" style="height:100px;">
                        <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Naam)</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>






